@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Rajdhani:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;1,700&display=swap');
.home__bg{
    background-image: url(./images/home_bg.jpg);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 730px;
}

li.nav__items{
    font-size: 20px;
    padding-bottom: 8px;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.home__content{
    padding: 125px 0px;
}

.home_text{
    position: absolute;
    width: 700px;
    height: 300px;
    left: 80px;
    top: 250px;
    box-shadow: 0px 4px 10px 2px rgb(183 175 175 / 25%);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(38, 38, 38);
}

h1.content{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #bf8a86;
    letter-spacing: 5px;
    padding-top: 40px;
    margin-left: 30px;
}

h2.content{
    font-size: 50px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    letter-spacing: 2px;
    opacity: 0.8;
    margin-left: 30px;
}

h3.content{
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: #bf8a86;
    letter-spacing: 1px;
    margin-left: 30px;
}

h4.content{
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    letter-spacing: 1px;
    padding-bottom: 75px;
    margin-left: 30px;
}

.header.active{
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0 30px; 
    background-color: #191919;
}